---
import Layout from '../layouts/Page.astro'
import Container from '../components/Container.astro';
import { SEO } from "astro-seo";
import '../styles/common.css'

const seo = {
  title: 'Cloudopt | Cloud Solutions & Expertise | Melbourne, Australia',
  site_name: 'cloudopt',
  description: 'Based in Melbourne, Cloudopt specializes in tailored cloud technology solutions centred around architecture, engineering, modernisation, and transformation.',
  type: 'website',
}
---
<!-- Start of the layout component -->
<Layout seo={seo}>
  <!-- Start of the container component -->
  <Container narrow>
    <!-- Navigation links -->
    <div class="nav-links">
      <a href="/">home</a>
      <a href="/services">services</a>
      <a href="/whoweare">who we are</a>
      <a href="mailto:contact@cloudopt.com.au?subject=hello" target="_blank">contact</a>
    </div>
    <!-- Hero article -->
    <article class="hero__article">
      <img src="/assets/images/hero-logo.png" class="image-fade-in" alt="cloudopt">
      <!-- Your text on line 27 goes here -->
      <h2 class="fade-in">cloudopt</h2>
      <h5 class="fade-in">☁️ melbourne, australia</h5>
    </article>
  </Container>
</Layout>
